<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container">
	views
	<div sec:authorize="isAuthenticated()">
		<p>已有用户登录</p>
		<p>登录的用户为: <span sec:authentication="name"></span></p>
		<p>用户角色为: <span sec:authentication="principal.authorities"></span></p>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="注销"/>
		</form>
	</div>
	<div sec:authorize="isAnonymous()">
		<p>未有用户登录</p>
	</div>
</div>
</body>
</html>
