<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/index.css"/>
	<script src="js/jquery/jquery-3.1.1.js" type="text/javascript" language="javascript"></script>
	<script src="js/bootstrap/js/bootstrap.js" type="text/javascript" language="javascript"></script>
	<title>Index</title>
</head>

<body>
<div class="container">
	<div th:include="common/header :: #common-head"></div>
	<div sec:authorize="isAuthenticated()">
		<p>Welcome:
            <span sec:authentication="name"></span>
            <span><a th:href="@{/logout}" class="red">logout</a></span>
		</p>
	</div>
	<div sec:authorize="isAnonymous()">
		<p>未有用户登录</p>
	</div>

	<div class="container">
		<ul>
			<li><a th:href="@{/scheduler/}">scheduler</a></li>
			<li><a th:href="@{/user/}">user</a></li>
			<li><a th:href="@{/file/}">file</a></li>
		</ul>
	</div>

	<div th:include="common/footer :: copyright"></div>
</div>

</body>
</html>