<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css"/>
	<script src="js/jquery/jquery-3.1.1.js" type="text/javascript"  language="javascript"></script>
	<script src="js/bootstrap/js/bootstrap.js" type="text/javascript"  language="javascript"></script>
	<title>Index</title>
	<style>
		body {background-image: url("/img/bg.jpg");color:white;}
	</style>
</head>

<body>
<div class="container">
	<div th:include="header :: #common-head"></div>
	<div class="mt-3">
		<h2 th:text="${holder}"></h2><h2>Hello Spring Security</h2>
	</div>
	<div sec:authorize="isAuthenticated()">
		<p>已有用户登录</p>
		<p>登录的用户为: <span sec:authentication="name"></span></p>
		<p>用户角色为: <span sec:authentication="principal.authorities"></span></p>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="注销"/>
		</form>
	</div>
	<div sec:authorize="isAnonymous()">
		<p>未有用户登录</p>
	</div>
	<div th:include="footer :: copyright"></div>
</div>

</body>
</html>